<form method="POST">

    <label for="firstName">First Name</label>
    <input type="text" id="first" name="first" value="{{first}}" />
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" value="{{last}}" />
    <label for="emailAddress">Email Address</label>
    <input
        type="email"
        id="emailAddress"
        name="emailAddress"
        value="{{email}}"
    />
    <label for="userPassword">Password</label>
    <input id="userPassword" type="password" name="userPassword" />
    <label for="age">Age</label>
    <input
        type="number"
        id="age"
        name="age"
        max="120"
        min="16"
        value="{{age}}"
    />
    <label for="city">City</label>
    <input type="text" id="city" name="city" value="{{city}}" />
    <label for="homepage">Homepage</label>
    <input
        type="text"
        id="homepage"
        name="homepage"
        placeholder="https://..."
        value="{{homepage}}"
    />

    <button>Update</button>
</form>